@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
  --bgblue:linear-gradient(to bottom,rgb(147,197,253,0.9),rgb(37,99,235,0.9)); 
  --classyblue:linear-gradient(to top, rgba(146, 168, 241, 0.9), rgba(95, 124, 218));
  --darknavytext:#333;
  --darkclassyblue:linear-gradient(to top, rgba(66, 76, 107, 0.9), rgba(43, 56, 97));
  --whitetext:white;
  --mybodycol:white ;
  --templateblue:linear-gradient(
    60deg
    , rgba(72, 198, 239, 0.70) 0%, rgba(111, 134, 214, 0.70) 70%);
}



@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}


@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../../assets/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
 
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/iconfont/MaterialIcons-Regular.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}


/* Make sure to remove min-height from body and make html,body height 100% after finished dev */

html,body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  /* min-height:100%; */
  height:100%;
}




svg.dark-mode .targetElement {
  color:red;
}

.titlebold {
  font-family: Roboto-Bold;
  color: white;
}

.onlineword {
  color:white;
}

.logocontainer {
  top:-18px;
  position:relative;
}

a:hover, a:focus{
  text-decoration: none;
}

button:focus{
  outline: none;
}

.main-wrapper{
  width: 100vw;
}

section {margin-bottom:50px;
margin-top:50px;}

@media screen and (max-width: 450px) 
{
    section {
      margin-bottom:40px;
    margin-top:40px;
    }

    .header__content {
      transform:scale(0.85);
}

}


@media screen and (max-width: 1599px) {
.main-wrapper{
    width:100%;
    margin: 0 auto;
}}

@media screen and (min-width: 768px) {
.container{
    width:600px;
    margin: 0 auto;

}}

@media screen and (min-width: 992px) {
.container{
    width:720px;
    margin: 0 auto;
}
.mobline {display:none}




}

@media screen and (min-width: 1200px) {
.container{
    width:1400px;
    margin: 0 auto;
}

.aboutme {
  padding-top:100px;
}

}





#header--bg{
    background: url("../../assets/images/mobday.jpg") no-repeat;
    position: relative;
    height:100vh;
    background-size: cover;
    z-index:1;
  }

#header--bg:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.2);
    z-index: -2;
  }

.header .navbar{
    padding-top: 30px;
    margin-bottom: 200px;
   
  }

  .blogtainer {
    background-image:var(--classyblue);
    width:100vw;
  }

  .blognavbar {padding-left:10px;}

@media screen and (max-width: 450px) {
      .header .navbar{
        margin-bottom: 150px;
      }
    }

.header .navbar-brand{
    top:-40px;
    position:relative;
  }

.header .nav li a{
    font-size: 15px;
    color: var(--whitetext);
  }

.header__content__title{
    font-size: 60px;
    font-weight: normal;
    color:black;
    letter-spacing: 3px;
    margin-bottom: 25px;
    font-family: 'Kaushan Script', cursive;
  }

.header__content__paragraph{
    font-size: 22px;
    color: var(--darktext);
    max-width: 530px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

/* .header .navbar .navbar-nav > li > a, .header .navbar .navbar-brand, .header .navbar .navbar-nav > li > a:focus{
    background-color: transparent;
    color: #fff;
  } */

  .navlink {
    text-decoration: underline 0.15em rgb(94, 165, 214,0) !important;
    transition: text-decoration-color 300ms !important;
  }
  
  .navlink:hover {
    text-decoration-color: rgba(94, 165, 214, 1) !important;
  }




.navlink:hover {
  background-color:transparent !important;
}



.indexnavlink {
  text-decoration: underline 0.15em rgba(255, 255, 255, 0) !important;
  transition: text-decoration-color 300ms !important;
}

.indexnavlink:hover {
  text-decoration-color: rgba(255, 255, 255, 1) !important;
}




.indexnavlink:hover {
background-color:transparent !important;
}










.navbar-header button{
  background-color:transparent;
}


.navbar-header .icon-bar{
  background-color: #5ea5d6
}

 .indexbars {
  background-color: white !important;
}

@media screen and (max-width: 768px){
  .navbar-collapse{
    float: right;
  }

  .header .button{
    margin-bottom: 10px;
  }

  .header .header__content__title{
    letter-spacing: 6px;
  }
}

.button{
  padding: 9px 40px;
  border-radius: 30px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  background-color: transparent;
  position: relative;
}

.button:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    border: inherit;
    -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.77));
            filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.77));
  }

.button--hover:hover{
    border: inherit !important;
  }

.button:hover{
    background-color: #FFFFFF;
    color: #00aafe;
    -webkit-box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);
            box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);

  }

.button--light{
    padding: 9px 35px;
    border-radius: 30px;
    font-size: 16px;
    display: inline-block;
    background-color: rgb(128, 173, 240);
    color: #fff;
    -webkit-box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);
            box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);
  }

.button--light:hover{
      color: #fff;
      background-color: rgb(178, 208, 243);
    }

.button--margin-right{
    margin-right: 15px;
  }

.panel__button{
  display: inline-block;
  font-size: 15px;
  color: white;
  padding: 8px 35px;
 background-color: rgb(128, 173, 240);
  border-radius: 30px;
  font-family: Roboto-Light;
}

.service .thumbnail{
    border: none;
    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(168, 157, 157, 0.31);
            box-shadow: 0px 0px 5px 0px rgba(168, 157, 157, 0.31); */
    padding: 35px 20px;
    margin-bottom: 60px;
  }

.service .thumbnail:hover{
      /* -webkit-box-shadow: 2px 5.66px 20px 0px rgba(136, 136, 136, 0.2);
              box-shadow: 2px 5.66px 20px 0px rgba(136, 136, 136, 0.2); */
    }

.service .thumbnail:hover .service__title{
        color: rgba(95, 124, 218)
      }

.service .thumbnail:hover .material-icons{
        background-color: rgba(95, 124, 218);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(95, 124, 218);
                box-shadow: 0px 0px 15px 0px rgba(95, 124, 218);
        color: #fff;
      }

.service__title{
    font-size: 22px;
    font-weight: bold;
    color: #4f4f4f;
    margin-top: 25px;
    margin-bottom: 15px;
  }

.service .material-icons{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(203, 212, 241, 0.863);
    color: rgb(105, 134, 230);
    font-size: 30px;
    line-height: 0.933;
    line-height: 2.3;
  }

.service__paragraph{
    font-size: 15px;
    color: #8a8a8a;
  }

.service .gutters-40.row{
    margin-right: -20px;
    margin-left: -20px;
  }

.service .gutters-40 > [class^="col-"], .service .gutters-40 > [class^="col-"]{
    padding-right: 20px;
    padding-left: 20px;
  }

.Ellipse_ {
  border-radius: 50%;
  background-color: rgb( 0, 170, 254 );
  -webkit-box-shadow: 0px 0px 15px 0px rgb( 0, 170, 254 );
          box-shadow: 0px 0px 15px 0px rgb( 0, 170, 254 );
  position: absolute;
  left: 284px;
  top: 1154px;
  width: 71px;
  height: 71px;
  z-index: 437;
}

.page-section{
  padding-top: 100px;
  padding-bottom: 90px;
}

@media screen and (max-width: 900px){

.page-section{
    padding-top: 50px;
    padding-bottom: 50px
}
  }

.page-section--large{
    padding-top: 220px;
    padding-bottom: 135px;
  }

@media screen and (max-width: 900px){

.page-section--large{
      padding-top: 110px;
      padding-bottom: 80px
  }
    }


.page-section--less-b-padding{
    padding-bottom: 80px;
  }

.page-section__title{
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 25px;
  }

.page-section__title--white{
      font-size: 35px;
      font-weight: bold;
      color: #fff;
      margin-top: 70px;
    }

@media screen and (max-width: 670px) {
        .page-section__title--white{
          margin-top: 105px;
        }
      }

.page-section__title--white--less-margin{
        margin-top: 40px;
      }

.page-section__paragraph{
    font-size: 16px;
    color: #7d7d7d;
    max-width: 590px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
  }

.page-section__paragraph--less-padding{
      padding-bottom: 30px;
      color: #f1f1f1;
    }

.page-section__paragraph--white{
      font-size: 18px;
      color: #f1f1f1;
      font-family: Roboto-Light;
      margin-bottom: 50px;
    }

.contact--bg{
   

    height: 430px;
    position: relative;
    background-size: cover;
    display:grid;
    align-content: center;
  }

@media screen and (max-width: 1198px) {
     
    }

@media screen and (max-width: 900px) {
      .contact--bg{
        height: auto;
      }
    }

@media screen and (max-width: 670px) {
     
    }

.contact--bg:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size:contain;
      background-image: linear-gradient(to bottom, #6a93cb 0%, #a4bfef 74%);
      z-index: -1;
    }

 .about {
   position:relative;
   background-image:var(--classyblue);
   color:white !important;
   padding-top:180px;
   padding-bottom:40px;
 }  
 
 @media screen and (max-width: 450px){

  .about {
    padding-top:80px;
    padding-bottom:10px;
  }  

 }

.about--narrow{
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
  }

.about__content-title{
    font-size: 20px;
    color: #4f4f4f;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0;
    padding-top: 10px;
  }

.about__content-subTitle{
    font-size: 17px;
    color: #848484;
    font-family: Roboto-Light;
    margin-top: 25px;
    margin-bottom: 40px;
  }

.about__content-paragraph{
    font-size: 16px;
    color: #7d7d7d;
    margin-bottom: 30px;
  }

@media screen and (max-width: 770px) {
      .about__extra-padding{
        padding: 0px 20px;
  }
}

.gutters-50.row{
  margin-right: -25px;
  margin-left: -25px;
}

.gutters-50 > [class^="col-"], .gutters-50 > [class^="col-"]{
  padding-right: 25px;
  padding-left: 25px;
}

.letsGo--bg{

    height: 440px;
    position: relative;
    background-size: cover;
  }


.letsGo--bg:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: var(--classyblue);
      z-index: -1;
    }

.project .thumbnail{
    border: 0;
    padding: 0;
    -webkit-box-shadow:0px 1.732px 5px 0px rgba(218, 213, 213, 0.42);
            box-shadow:0px 1.732px 5px 0px rgba(218, 213, 213, 0.42);
    margin-bottom: 50px;
  }

.project .thumbnail:hover{
      -webkit-box-shadow: 2.5px 4.33px 11px 0px rgba(136, 136, 136, 0.24);
              box-shadow: 2.5px 4.33px 11px 0px rgba(136, 136, 136, 0.24);
    }

.project .thumbnail:hover .project__title{
        color: #00aafe;
      }

.project .thumbnail img{
      width: 100%;
    }

.project .thumbnail .caption{
      padding-left: 15px;
    }

.project__title{
    font-size: 16px;
    color: #4f4f4f;
    font-weight: bold;
  }

.project__paragraph{
    font-size: 16px;
    color: #7d7d7d;
  }

.video-section{
  display: block;
}

.video-section--bg{

    background: url("../../assets/images/newhandshake.jpeg") no-repeat;
    height: 590px;
    position: relative;
    background-size: cover;
    z-index:-2;
background-position: center -100px;
  }

@media screen and (max-width: 1198px) {
      .video-section--bg{

      }
    }

@media screen and (max-width: 900px) {
      .video-section--bg{
        height: auto;
      }
    }

@media screen and (max-width: 600px) {
      .video-section--bg{

        background-position: center center;
      }
    }

.video-section--bg:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: var(--classyblue);
      z-index: -1;
    }

.video-section__icon{
    background-color: transparent;
    border: 0;
    margin-top: 20px;
  }

.video-section__icon:focus{
      outline: 0;
    }

#myModal{
  background: rgba(0, 0, 0, 0.8);
}

#myModal .close{
    background: #00aafe !important;
    z-index: 890;
    color: #fff;
    font-size: 24px;
    margin: 0;
    outline: none;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 28px;
    height: 28px;
  }

#myModal .modal-body{
    padding: 0;
  }

#myModal .embed-responsive {
    height: 489px;
    padding: 0;
    overflow: hidden;
  }

.team .thumbnail{

    padding: 0;
    border: 0;
  }

/* .team .thumbnail:hover .team__caption{
      -webkit-box-shadow: 2.5px 4.33px 20px 0px rgba(133, 129, 129, 0.27);
              box-shadow: 2.5px 4.33px 20px 0px rgba(133, 129, 129, 0.27);
    } */

.team__name{
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

.team__title{
    font-size: 17px;
    color: #f3f3f3;
  }

@media screen and (max-width: 1200px){
  .team .thumbnail{
    margin-bottom: 30px;
  }
}









.price__panel-wrapper{
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }

.price .panel{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 0.2);
            box-shadow: 0px 0px 10px 0px rgba(136, 136, 136, 0.2);
    padding-top: 25px;
    padding-bottom: 40px;
    border-radius: 5px;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
  }

.price__title{
    font-size: 22px;
    color: #313131;;
    letter-spacing: 3px;
    font-weight: bold;
  }

.price__ammount{
    font-size: 18px;
    color: #4f4f4f;
    font-weight: bold;
  }

.price__ammount--number{
      font-size: 40px;
    }

.price .panel-body p{
    font-size: 16px;
    color: #7d7d7d;
  }

.price .panel:hover{
    background-color: #98c1f7;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    margin-top: -50px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

.price .panel:hover .panel__button{
      -webkit-box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13);
              box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.13); 
    }

.price .panel:hover h4,.price .panel:hover h1,.price .panel:hover p{
      color: #fff !important;
    }

.price .panel:hover .panel__button{
      background-color: #FFFFFF;
      color: #00aafe;
      border: 2px solid #fff;
    }

.overview--bg{
    height: 360px;
    position: relative;
    background-size: cover;
  }

@media screen and (max-width: 1186px) {
      .overview--bg{
        height: auto;
      }
    }

@media screen and (max-width: 900px) {
      .overview--bg{
        height: auto;
       
      }
    }




.overview--bg:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: var(--classyblue);
      z-index: -1;
    }

.overview__wrapper{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

.overview__wrapper ul li{
      list-style-type: none;
      display: inline-block;
      padding-right: 70px;
      padding-left: 70px;
      margin-top: -10px;
    }

.overview__number{
    font-size: 45px;
    font-weight: bold;
    color: #fff;
  }

.overview__title{
    font-size: 20px;
    color: #fff;
  }

.slider__image{
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 15px;
    display: inline-block;
  }

.slider__paragraph{
    font-size: 16px;
    color: #7e7e7e;
    font-style:italic;
    max-width: 750px;
    text-align:left;
    display: inline-block;
    padding:0px 20px;
  }

.slider__name{
    font-size: 18px;
    color: #4f4f4f;
    font-weight: bold;
    line-height: 1.8;
    margin-top:12px;
    margin-bottom:8px
  }

.slider__title{
    font-size: 16px;
    color: #6f6e6e;
    line-height: 0.1;
    font-weight: bold;
  
  }

.slider .carousel-control.left, .slider .carousel-control.right{
    background: none !important;
    -webkit-filter: progid:none !important;
            filter: progid:none !important;
    opacity: 1;
  }

.slider .material-icons{
    width: 60px;
    height: 60px;
    display: inline-block;
    color: rgb(151, 168, 186);
    /* -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.08); */
    font-size: 22px;
    line-height: 2.8;
    border-radius: 50px;
    text-shadow: none;
    transform:scale(1.6);

    overflow:hidden;
  }

.slider #myCarousel .carousel-inner{
      max-width: 900px;
      margin-right: auto;
      margin-left: auto;
    }

@media screen and (max-width: 1000px){

.slider #myCarousel .carousel-inner{
        max-width: 600px
    }
      }

.slider #myCarousel .left{
      margin-left: 30px;
    }

@media screen and (max-width: 1200px){

.slider #myCarousel .left{
        margin-left: -15px;
        width: 30px;
        height: 30px
    }
      }

.slider #myCarousel .right{
      margin-right: 10px;
    }

@media screen and (max-width: 1200px){

.slider #myCarousel .right{
        width: 30px;
        height: 30px
    }
      }

.slider #myCarousel .item{
      -webkit-box-shadow: 0px 0px 16px 0px rgba(86, 77, 77, 0.21);
              box-shadow: 0px 0px 16px 0px rgba(86, 77, 77, 0.21);
      margin-top: 10px;
      margin-bottom: 20px;
      margin-right: 20px;
      margin-left: 20px;
       overflow: hidden;
       padding-bottom:20px;
    }

.slider #myCarousel .carousel-control{
      top: 41%;
      height: 20%;
    }

.contact-two--bg{

    height: 350px;
    position: relative;
  }

.contact-two--bg:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: var(--classyblue);
      z-index: -1;
    }

.contact-two__title{
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    margin-top: 60px;
  }

@media screen and (max-width: 900px) {
      .contact-two__title{
        margin-top: 100px;
      }
    }

.contact-two__button{
    margin-top: 26px;
  }

.blog .thumbnail{
    padding: 0;
    border: 0;
  }

  .myhead {text-align:center;
  background-color:transparent;
border:none;
}

.blog .thumbnail:hover .blog__title, .blog .thumbnail:hover .blog__read-more{
        color: #00aafe;
      }

.blog .thumbnail .caption{
      padding-left: 20px;
    }

.blog__title{
    font-size: 22px;
    color: #4f4f4f;
    font-weight: bold;
  }

.blog__paragraph{
    font-size: 16px;
    color: #7d7d7d;
  }

.blog__paragraph--slash{
      padding: 0 3px;
    }

.blog__read-more{
    font-size: 15px;
    color: #4f4f4f;
    font-weight: bold;
  }

@media screen and (max-width: 990px){
  .blog .thumbnail{
    padding-bottom: 20px;
  }

    .blog .thumbnail img{
      width: 100%;
    }
}

.footer--bg{
    height: auto;
    position: relative;
  }

@media screen and (max-width: 1199px) {
      .footer--bg{
        height: auto;
      }
    }

@media screen and (max-width: 991px) {
      .footer--bg{

      }
    }

.footer--bg:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: var(--classyblue);
      filter: brightness(0.5) ;
transform:scaleY(-1);
      z-index: -1;
    }

.footer__title{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-top: 80px;
    margin-bottom: 25px;
  }

.footer ul{
    padding-left: 0;
  }

.footer ul li{
      list-style-type: none;
    }

.footer ul li a{
        font-size: 15px;
        color: #fff;
      }

.footer__first{
    position: relative;
    left: 20px;
  }

.footer-first__paragraph{
    font-size: 15px;
    color: #cecece;
    margin-bottom: 20px;
  }

.footer-first__social-icons li{
      display: inline-block;
      padding-right: 15px;
    }

@media screen and (max-width: 991px) {
      .footer__second{
        padding-left: 20px;
      }
    }

.footer__second ul li{
      padding-bottom: 10px;
    }

.footer__third li{
      padding-bottom: 10px;
    }

.footer__third .glyphicon-envelope, .footer__third .glyphicon-earphone{
      color: #fff;
      padding-right: 10px;
    }

.footer__third .form-control{
      padding: 21px 18px;
      border-radius: 24px;
    }

@media screen and (max-width: 1199px) {
      .footer__third{
        padding-left: 20px;
      }
    }

.footer__subscribe__title{
    font-size: 17px;
    color: #fff;
    margin-bottom: 20px;
  }

.footer .subscribe-section{
    position: relative;
  }

.footer .subscribe-section__button{
      background-color: transparent;
      border: 0;
      position: absolute;
      top: 8px;
      right: 15px;
    }

@media screen and (max-width: 991px) {
      .footer__fourth{
        padding-left: 20px;
      }
    }

.footer__fourth ul{
    padding-left: 15px;
    margin-bottom: 3px;
   
  }

.footer__fourth ul li{
      display: inline-block;
    }

.footer__horizontal-bar{
    border-top: 1px solid #123953; 
    max-width: 830px;
    margin-top: 70px;
  }

.footer__bottom-paragraph{
    font-size: 15px;
    color: #c9c9c9;
    text-align: center;
    padding-top: 20px;
  }

.gutters-100.row{
  margin-right: -50px;
  margin-left: -50px;
}

.gutters-100 > [class^="col-"], .gutters-100 > [class^="col-"]{
  padding-right: 50px;
  padding-left: 50px;
}

.footer [class^="flaticon-"]:before, [class*=" flaticon-"]:before{
  margin-left: 0;
}

.flaticon-facebook-letter-logo:hover, .flaticon-twitter-logo:hover, .flaticon-dribbble-logo:hover, .flaticon-behance-logo:hover{
  color: #00AAFE;
}

.subscribe-section input[type="email"]{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 42px; 
  margin-bottom: 30px;
  padding: 0 20px;
}

/* logo on tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  .header .navbar-brand{
    top:-40px;
    left:-120px;
    position:relative;
  }
  
}


.grow { animation: growing 2s infinite ease-in-out; }


@keyframes growing {


50% {transform:scale(1.1)}

100% {transform:scale(1.0)}

}

.pull-right {
  position:relative;
  top:15px;
}


@media screen and (max-width:480px){
  .pull-right {
    background-color:rgb( 79, 79, 79, 0.5 );
    backdrop-filter:blur(10px);
   
    float: right!important;
    text-align: right;
    padding-right: 15px;
  }

}

#thinking {
  padding:0px 20px;
  margin-bottom:90px;
}


.aboutpar {display:block;
color: white;
font-family:Poppins}

.abouth2 {
  text-align:center;
  margin-bottom:100px;
  color:white;
}

.aboutdivider {
  margin-bottom:300px !important;
}

.rightcontent {
  padding:50px 10vw;
  font-size:16px !important;
}

.about {margin: 80px 0px}




.lotto {
  width:270px;
  margin: auto
}

@media  screen and (min-width: 1000px) {

  .mycontainer {
    display:grid;
    grid-template-columns: 1fr 1fr;

  }

  .lotto {
    width:500px;
  }
  
  .aboutpar {
    display:inline-block;
    
  }
 
  #thinking {
    position:relative;
    left:-120px;
    top:60px;
  }
  
  .logocontainer {
    top:-5px;
    position:relative !important;
  }
  
  }

 

  .logopic {
    width:200px !important;
    
  }






  @media screen and (min-width: 450px) {


    #header--bg{
      background: url('../../assets/images/dubskylineblu.jpg') no-repeat;
      background-size:cover;
    }

    .logopic {
      width:280px
    }

  }



.lottolol {
  width:60px;
  height:60px;
  left:2px;
  position:relative;
  display:inline-block;
  top: 3px;
}




/* wavy section */
.custom-shape-divider-bottom-1626693409 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1626693409 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 26px;
 
}

.custom-shape-divider-bottom-1626693409 .shape-fill {
  fill: #FFFFFF;
}

@media screen and (max-width: 450px) {

  

}










.custom-shape-divider-top-1626701600 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1626701600 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.custom-shape-divider-top-1626701600 .shape-fill {
  fill: #FFFFFF;
}


.slider__image {
width: 150px;
  border-radius:50%;
  
}



































/*CSS FOR PROJECTS BEGINS*/



.My-Projects {margin-top: 15rem;
  font-size:4rem;
  color:cyan;
  font-family:  Dancing Script, cursive, Snell Roundhand;
  }
  
  
  .projwrap {display:block;
   text-align:center; 
   margin-bottom:300px;

  }
  
  
  .projtitle {
  padding: 30px;
  font-family:  Roboto;
  color:#515a66;
  font-size:2.6rem;
  }
  
  #gridwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10em;
    text-align: left;
    align-items:center;
    padding:2rem;
    padding-left:6vw;
    padding-right:6vw;
  
  }
  
  #right {
    position:relative;
    align-items:center;
  }
  
  .devices {height:100%;
  width:100%;
  top:0px;
  left:2px;
  position:relative;
  }
  
  .inner {position:absolute;
    left:12%;
    top:8%;
  height:60%;
  width:72%;
  }
  
  
  
  .ipad {
    position:absolute;
    right:3%;
    bottom:10%;
  height:53%;
  width:27%;
  object-fit:cover; 
  object-position:center center;
  }
  
  .phone {
    position:absolute;
      left:4%;
    bottom:11%;
    object-fit:cover; 
  object-position: center center;  
    width: 14%;
    height:36%;
  }
  
  .ipadwrapper{}
  .innerwrapper {}
  .phonewrapper {}
  
  
  .inner, .phone, .ipad {
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 9.6s;
 }
  .inner:nth-of-type(1), .phone:nth-of-type(1), .ipad:nth-of-type(1) {
    animation-delay: 7.2s;
 }
  .inner:nth-of-type(2), .phone:nth-of-type(2), .ipad:nth-of-type(2) {
    animation-delay: 4.8s;
 }
  .inner:nth-of-type(3), .phone:nth-of-type(3), .ipad:nth-of-type(3) {
    animation-delay: 2.4s;
 }
  .inner:nth-of-type(4), .phone:nth-of-type(4), .ipad:nth-of-type(4) {
    animation-delay: 0;
 }
  
  
  
  
  /*CSS FOR NEW PROJECTS ENDS*/
  
  /*image transitions for my website previews starts*/
  
  
  
  
  
  @keyframes multiple-image-crossfade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  /*image transitions ends*/
  
  
  
@media screen and (max-width: 850px) {

  #gridwrapper {
    display: grid;
    grid-template-columns: 3fr 5fr;
  grid-gap:0px;
    text-align: left;
    align-items:center;
    padding:3rem;
    padding-left:6vw;
    padding-right:2vw;
  }
}



  
  
  
  @media screen and (max-width: 520px) {

  #gridwrapper{padding:0 3vw;
  }

 #right {margin-top:70px;}

  .contactpglist {
    font-size:18px ;
  list-style:none;
  left:-25px;
  position:relative;
  }


  #contactpagesection {
    display:grid;
    place-items:flex-start;
  }
  

  
  #gridwrapper  {
    padding-left:0vw;
  padding-right:0vw;
    display:block;}
}


#satisfaction {
  position:relative;
  top:-20px;
}





.projdesc {
  font-size:16px;
  text-align:center;
  color:#646464;
  font-family:Poppins;

}

.workh2 {text-align:center;
margin-top:150px;}

.projmore {
  margin: 70px auto;
  background-color: rgb(128, 173, 240);
}


.myshot {
  border-radius:50%;
}

.tidbithead {font-size:35px !important;
  font-family:Roboto, sans serif;
  font-weight:700;
color:white;}

.tidbit {
  color: white;
  font-size:16px;
  max-width:70ch;
  text-align:left;
  margin:0 auto;
}




@media screen and (min-width: 1100px) {


  .blognavbar {
    padding:0px 100px;
  }


  .custom-shape-divider-top-1626701600 svg {
    height: 115px;
  }




  .custom-shape-divider-bottom-1626693409 svg {

    height: 95px;
  }


}


.colm {
margin-top:0;}

.team {margin-top:0;}


#blogpage {
  margin-top:0px;

}













@media screen and (max-width:480px) { 
  .header__content {
    position:absolute;
    margin:0 auto;
    top:20%;
    display:block;
    }

    #myheadertext {
      z-index:-1 !important;
      margin:0 auto;
      left:50%;
      transform:translateX(-50%);
      width:100%;
      padding:15px;
    }


.collapse .navbar-collapse {
  z-index: 9999 !important
}


}



 @media screen and (max-width: 330px) {
  .header__content {
transform:scale(0.65);
position:absolute;
  }
} 





.contacth1 {
  text-align:center;
  margin-bottom:00px;
  font-family:'Poppins';
  font-weight:bold;
}
.contactlottie {
  width:300px;
  margin-bottom:50px;
}


#indexburger{
  background-color: transparent;
}


@media screen and (min-width: 550px) {
  .contactlottie {
    width:450px;
  }

}

  .blobcontainer {
position:relative;


  }

  .blogblob {
    position:absolute;
    z-index:-1;
    width:80vw;
  }


  #overview {
    height:500px;
  display:grid;
place-items:center;
}

#handshake {
  height:500px;

}

.myicons {
  height:70px;
  width:70px;
}



.input1 {
  display:block;
  margin-bottom:20px;
}

.textbox {width:250px;
height:150px;}

.contactpglist {
  font-size:22px ;
  margin-bottom:50px;
}



.blog1title {
  text-align:center; 
  margin-bottom:90px;
  font-size:clamp(20px, 4vh, 36px);
}

.blogcontainer {
  text-align:center;
}

.Blog p {
  font-size:clamp(16px, 2.3vh, 21px);
  max-width:900px;
  margin:0 auto;
  font-family:Poppins;
  margin-bottom:13px;
  text-align:left;
}

.blogsubhead {
  text-align:center; 
  margin:60px 0px;
  font-size: 28px;
}



.lastp {margin-bottom:30px !important}

.colortest {
  margin:0 auto;
  background-color:black;
  max-width:900px;
}

/* this is the containers for each of the rolex pics */
.rolexbig {
  position:relative;
  margin:50px 0px;
  display:inline-block;
}
#classytext {
  position:absolute;
  top:20px;
  left:5px;
  padding:30px;
  color:white;
  font-family: Cursive;
  font-size:clamp(16px, 3vh, 28px) 
  }

  #funnytext {
    position:absolute;
    top:20px;
    left:3px;
    padding:25px;
    color:white;
    font-family: Comic Sans MS;
    font-size:clamp(16px, 3vh, 28px) 
    }

    #crap {
      font-size:11px;
      line-height: 1;
      margin:30px 0px;
    }

    #speedimg {margin: 60px 0px;
      box-shadow: 0px 0px 5px 0px rgba(168, 157, 157, 0.31)}

.speedlist {font-weight:bold !important;
  font-style: italic;
}

.Blog img {
  width:100%;
  position:relative;
  margin:20px auto;
max-width:600px;
}

#multicolortext {
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  width:110px;
}

.colorh2container {
  display:grid;
  place-items:center;
}



.navbar {
  padding-top:40px;
}

#left {font-size:16px;
font-family: Poppins}



#portfoliocontainer {
  width:100vw;
}

.mycontainer {
  margin-bottom:200px;
}

.blogh2 {color:white;}

.blogpar {color:rgb(245, 245, 245);}

.blogpic {
  border-top-left-radius:15px;
}

.blogpic {
  border-top-right-radius:15px;
}

.blog .thumbnail {
  border-radius:15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }

 .blog .thumbnail:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

 .blogtainer {
   position:relative;
   margin-bottom:100px;
 }

#mainpageprojsection{
  margin-bottom:100px;
}


#handshakesection{
  display: block;
  margin-bottom:100px !important;
}

.processlist {
  font-size:clamp(16px, 2.3vh, 21px);
  list-style-position: inside;
  text-align:left;
  padding-left:0;
  font-style: italic;
}

.listcontainer {text-align:left;
margin:30px auto;
max-width:850px;}



figcaption {
  color: grey;
}

figure {margin-bottom:30px;}

.topimg {
  
  margin-bottom:60px !important;
}


.service__paragraph.longer {
  text-align:left !important;
  font-size:16px;
  color:#333333;
}

.servlottie {

max-width:600px;
margin:0 auto;

margin-bottom:30px;
}

#servpagecontainer {
  padding-top:0px;
}

#servpagecontainer .thumbnail {
  border-radius:15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }

 #servpagecontainer .thumbnail:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.aboutcontainer {
  max-width:800px;
  margin:0 auto;
  color:#333333;
  font-family:Poppins;
  
}

.aboutcontainer p {
 font-size:clamp(16px, 2.3vh, 21px);
}


  






.navbar {max-width:99vw;
}

/* #servcontainer {max-width:79vw !important;
border:5px solid red;} */

.container {
  max-width:96vw !important;
}

.colmcaption {
  color:gray !important
}

.aboutcolm {margin-bottom:100px}

.undrawguy {margin-bottom:90px;}


#frontpageprojbut {
  margin:0 auto;
}

#frontpageprojwrap {margin-bottom:150px;}


/* #moblightswitch {
  display:none;} */

  .dark-mode-button {
    position:absolute;
    top:-0px;
    left:-32px;
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
 {
  .dark-mode-button {
    position:absolute;
    top:-0px;
    left:32px;
  }

}




@media screen and (max-width: 450px) {


    .letsgo{
      font-size:16px;
    }

    .dark-mode-button {
      position:absolute;
      top:-20px;
      left:-42px;
    }
    
  

    .darkbgimage {
      background: url('../../assets/images/dubskylinedrkcropped2.jpg') no-repeat;
    }

    #ctabutton {
      color: var(--darknavytext);
      border-color: var(--darknavytext);
      font-weight: bolder;

    }

}

body{ 
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  background-color: white;
}


.abouth2, .blueheading, .blogh2, .page-section__title {
  font-family: 'Poppins';
  font-weight:bold
}


.blogimg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.glyphicon {
  color:gray !important;
}

.sliderlink {
  font-size:16px
}